.leadership{
    width: 70%;
    background-color: rgb(206, 18, 121);
}

.communication{
    width: 75%;
    background-color: goldenrod;

}

.teamWork{
    width: 80%;
    background-color: rgb(206, 18, 121);
}

.selfLearning{
    width: 60%;
    background-color: goldenrod;
}

.responsible{
    width: 75%;
    background-color: rgb(206, 18, 121);
}

.adaptability{
    width: 75%;
    background-color: goldenrod;
}

.js{
    width: 75%;
    background-color: rgb(206, 18, 121);
}

.html-css{
    width: 70%;
    background-color: goldenrod;
}

.github{
    width: 70%;
    background-color: rgb(206, 18, 121);
}

.firebase{
    width: 75%;
    background-color: goldenrod;
}

.node-js{
    width: 60%;
    background-color: rgb(206, 18, 121);
}

.figma{
    width: 75%;
    background-color:goldenrod;
} 

.react-js{
    width: 70%;
    background-color: rgb(206, 18, 121);
}

.bootstrap{
    width: 80%;
    background-color: goldenrod;
}