.image{
    opacity: 0.8;
}

.row{
    align-items: center;
    justify-content: center;
}

.letterquery{
    
}
@media only screen and (max-width: 600px) {
    body {
        background-image: none;
        font-size: 10px
    }
  }