.color-btn{
    background-color:  rgba(218, 165, 32, 0.479);
}

.style-btn{
    border: none
}

.text{
    color: rgba(252, 58, 165);
}

.space{
    margin-top: 100px;
}

.contact{
    color: rgba(0, 0, 0, 0.63);
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .email{
        font-size: 20px;
    }
}