.img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.card-form{
    margin-left: auto;
    margin-right: auto;
}

.color{
    background-color:rgb(206, 18, 121)
}

.card-color{
    background-color:  rgba(218, 165, 32, 0.479);
}

.letter-color{
    color: white
}