.img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* height: 200px;
    width: 200px; */
}

.card-form{
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}

.color{
    /* background-color:rgba(206, 18, 121, 0.616); */
    height: 50px;
    width: 50px;
    color: black
}

.card-color{
    background-color:  rgba(218, 165, 32, 0.479);
}

.letter-color{
    color: white
}

.instruction{
    color: red;
    padding-top: 10px
}

.iconWarning{
    font-size: 30px;
}